@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";



body {
  line-height: 1;
  background: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

* {
  box-sizing: border-box;
}


@keyframes moveRight {
  from { transform: translate3d(0,0,0); }
  to {   transform: translate3d(500px,0,0);
  } 
}

.parent {
  text-align: center;
  padding: 50px;
}
.button {
 border-radius: 3px;
 background: red;
 color: white;
 display: inline-block;
 padding: 15px 20px;
}
.box {
  background: black;
  width: 200px;
  height: 200px;
  transition: all .6s ease-in-out;
}

