@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";



body {
  line-height: 1;
  background: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

* {
  box-sizing: border-box;
}
.parent {
  background: yellow;
  padding: 50px;
  width: 100%;
  // transition-duration: .5s;
  // transition-property: all;
  // transition-timing-function: ease-in-out;
  // transition-delay: 0s;
 transition: background 1s ease-in-out 1s,
   width 1s ease-in-out
   ;
  &:hover{
    background: red;
    width: 50%;
    .child {
      background: blue;
    }
  }
  .child {
    background: black;
    height: 300px;
    transition: all 2s ease-in-out;
  }
}

button {
	background: grey;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	padding: 15px 20px;
	font-size: 1.2rem;
	transition: background .5s ease-in-out,
  color .5s ease-in-out;
	&:hover {
		background: red;
		color: white;
	}
}

.container {
  max-width: 800px;
  margin: 50px auto;
}
.menu {
  padding: 0; 
  margin: 0; 
  
  li {
    display: inline-block;
    list-style: none;   
    padding: 20px;
    border: 1px solid #000;
    margin: 0;
    position: relative;
    ul.first{
      background: red;
      left: -100px;
      top: 56px;
      position: absolute;
      display: block;
      width: 200px;
      li {
        display: block;
      }
    }
    ul.second{      
      background: purple;
      left: 100%;
      top: -1px;
      position: absolute;
      display: block;
      width: 200px;
      li {
        display: block;
      }
    }
    ul.third{      
      background: green;
      left: 100%;
      top: -1px;
      position: absolute;
      display: block;
      width: 200px;
      li {
        display: block;
      }
    }
  }
}